<!DOCTYPE html>
<html>
<head>
    <title>Список записей</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>
<body>
    <h2>Список записей</h2>
    <table id="recordsTable" class="display">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#recordsTable').DataTable();
        });
    </script>
</body>
</html>
